.padre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /*margin:auto;
    padding: 1em 1em;*/
    justify-content: space-around;
}
.amigos{
    background-color:burlywood;
    border-style: dashed;
    height:300px;
    width:250px;
    overflow-y: auto;
    margin-top: 2%;

}
.nuevos{
    margin-top: 2%;
    background-color:burlywood;
    border-style: dashed;
    height:300px;
    width:275px;
    overflow-y: auto;
}