<section class="padre">
    <section *ngIf="myFriends" class="amigos" >
        <p> My Friends</p>

        <ul>
            <li *ngFor="let us of myFriends">
                    {{us.name}} {{us.surname}}<br>
                    {{us.birthDate}}<br>
                    <button (click)="deleteFriend(us)">X</button>
            </li>

        </ul>

    </section>


    <section class="nuevos">
        <p> Usuarios </p>
        <ul>
            <li *ngFor="let us of allUsers">
                {{us.name}} {{us.surname}}<br>
                {{us.birthDate}}<br>
                <button *ngIf= "isMyFriend(us) == false" (click)="addFriend(us)">Añadir amigo</button>
            </li>
        </ul>
    </section>
</section>